<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>employee app</title>
    <link href="https://stackpath.bootstrapcdn.com/bootswatch/4.3.1/lux/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-hVpXlpdRmJ+uXGwD5W6HZMnR9ENcKVRn855pPbuI/mwPIEKAuKgTKgGksVGmlAvt" crossorigin="anonymous">
    <!-- lobster -->
    <link href="https://fonts.googleapis.com/css?family=Lobster&display=swap" rel="stylesheet">
    <!-- main.css -->
    <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">


</head>

<body>
    <main class="container p-4">
        <h1 class="display-4 text-center mt-4 title">Employee App</h1>

        <div class="row">
            <div class="col-md-4 offset-md-4 my-auto">
                <div class="card">
                    <div class="card-header">
                        <form action="/createEmployee" method="POST">
                            <div class="form-group">
                                <input type="text" class="form-control" name="name" placeholder="name..." required>
                                <input type="text" class="form-control" name="lastName" placeholder="lastName..."required>
                                <input type="text" class="form-control" name="document" placeholder="document..."required>
                                <input type="text" class="form-control" name="age" placeholder="age..."required>
                                <input type="text" class="form-control" name="email" placeholder="email..."required>
                                <input type="text" class="form-control" name="profession" placeholder="profession"required>
                                <input type="text" class="form-control" name="phone" placeholder="phone..."required>
                                <input type="text" class="form-control" name="position" placeholder="position"required>
                                <input type="number" class="form-control" name="salary" placeholder="salary..."required>
                            </div>
                            <button type="submit" class="btn btn-primary btn-block">
                                save
                            </button>
                        </form>
                    </div>
                    <div class="card-body">
                        {% for employee in employees %}
                        <div class="card mb-3">
                            <h3 class="card-header">{{employee.name}} {{employee.lastName}}</h3>
                            <div class="card-body">
                                <h5 class="card-title">{{employee.profession}}</h5>
                            </div>
                            <img style="height: 200px; width: 100%; display: block;"
                                src="data:image/svg+xml;charset=UTF-8,%3Csvg%20width%3D%22318%22%20height%3D%22180%22%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20viewBox%3D%220%200%20318%20180%22%20preserveAspectRatio%3D%22none%22%3E%3Cdefs%3E%3Cstyle%20type%3D%22text%2Fcss%22%3E%23holder_158bd1d28ef%20text%20%7B%20fill%3Argba(255%2C255%2C255%2C.75)%3Bfont-weight%3Anormal%3Bfont-family%3AHelvetica%2C%20monospace%3Bfont-size%3A16pt%20%7D%20%3C%2Fstyle%3E%3C%2Fdefs%3E%3Cg%20id%3D%22holder_158bd1d28ef%22%3E%3Crect%20width%3D%22318%22%20height%3D%22180%22%20fill%3D%22%23777%22%3E%3C%2Frect%3E%3Cg%3E%3Ctext%20x%3D%22129.359375%22%20y%3D%2297.35%22%3EImage%3C%2Ftext%3E%3C%2Fg%3E%3C%2Fg%3E%3C%2Fsvg%3E"
                                alt="Card image">
                            <div class="card-body">
                                <p class="card-text">information</p>
                            </div>
                            <ul class="list-group list-group-flush">
                                <li class="list-group-item">{{employee.document}}</li>
                                <li class="list-group-item">{{employee.phone}}</li>
                                <li class="list-group-item">{{employee.position}}</li>
                                <li class="list-group-item">{{employee.email}}</li>
                                <li class="list-group-item">{{employee.age}}</li>
                                <li class="list-group-item">{{employee.salary}}</li>
                            </ul>
                            <a href="/delete/{{employee.id}}"><button type="button" class="btn btn-outline-danger">Delete</button></a>
                            <a href="/edit/{{employee.id}}"><button type="button" class="btn btn-outline-info">Edit</button></a>
                        </div>
                        {% endfor %}
                    </div>
                </div>
            </div>

    </main>
</body>

</html>